h1{
    color: seagreen;
    font-size: 50px;
}
strong{
    color: red;
}
#subtitulo{
    color: blue;
}
.especial{
    color: blueviolet;
}
td strong, th.especial{
color:coral;
}
a{
    color: red;
    text-decoration: underline;
}
em{
    color: blue;
    font-style: italic;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
th, td{
    border: 1px solid black;
    }
td, td em{
   color: green; 
}
tfoot, tbody th{
    color:crimson;
}
div{
    color: olive;
}
#especial{
    color: pink;
}
div a{
    color: seagreen;
}
caption{
    display: none;
}